body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;


}
h1{
    color:#D2001A;

}
h2{
    color:#0F3460;
    background-color:#F5EDDC;




}
h3{
    color:#0F3460;
    background-color:#F5EDDC;
}

.background{
    background-color:#EEF1FF;

}
h4{
    color:#0F3460;
    background-color:#F5EDDC;
}
    
.background{
    background-color:#EFEFEF;
}

#logo{
    height:100px;
    width:;
}

