body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin:0;

}

h1{
    color:#D2001A;
    

}
h2{
    color:#D2001A;
    background-color:#bdc5eb;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.326)
    
    




}
h3{
    color:#0F3460;
    background-color: #EEF1FF;
    box-shadow: 2px 2px 3px black
}

.background{
    background-color:#44ab82;
    

}
h4{
    color:#0F3460;
    background-color: #EEF1FF;
    box-shadow: 2px 2px 3px black;
}
    
.background{
    background-color: #EEF1FF;

}

#logo{
    height:100px;
    width:100px;border-radius: 50%;
    margin-bottom: 30px;
}

#insta{
    height:35px;
    width:35px;
}

#facebook{
    height:35px;
    width:35px;
}

#twitter{
    height:35px;
    width:35px; border-radius: 50%;

}

ul{
    list-style-type: none;
}

#contenaire{
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 4px;
    padding: 30px;
    background-color:#EFEFEF;
    background-image:url(images/rhcp\ fond.jpg);

}

#bordure{
    border: 6px solid #D2001A;
}

.card{
    padding: 20px;
    margin: 20px;
    background-color: #EEF1FF;
    border-radius: 20px;
    box-shadow:2px 2px 3px rgba(0, 0, 0, 0.299);
}

#icons {
    display:flex;
    justify-content: center;
    gap: 25px;
}


